:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --team-text--background: #ffffff;
  --primary-bg-color: #ffffff;
  --studio: #000000;
  --background: #f5f4fa;
  --contact: rgba(255, 255, 255, 0.6);
  --heder-footer: #2f303a;
  --border--headr: #ececec;
  --buttun: #188ce8;
  --border--icon: #eeeeee;
  --link-f-in-twit: #afb1b8;
  --outline--background-color: #c4c4c4;
}

.container {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 758px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
}

@media screen and (max-width: 768px) {
  .page__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .page__logo {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
  .page__logo {
    margin-right: 93px;
  }
}
.page__studio {
  color: var(--studio);
  margin: 0;
}

@media screen and (min-width: 280px) {
  .page__header {
    height: 60px;
    border-bottom: 1px solid var(--border--headr);
  }
  .nav__container,
.page__nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .page__header {
    height: 80px;
    border-bottom: 1px solid var(--border--headr);
  }
  .nav__list {
    display: flex;
  }
  .nav__link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
  }
  .nav__link.current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: scaleX(1);
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  }
  .nav__link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover::after, .nav__link:focus::after {
    transform: scaleX(1);
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .link.current {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    display: block;
    margin-left: auto;
    align-items: center;
  }
  .contact__list {
    margin-left: auto;
    align-items: center;
    padding: 21px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
  .contact__link {
    color: var(--title-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
    margin-left: auto;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contact__link {
    color: var(--title-text-color);
    text-decoration: none;
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}
.mobile__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
}

.mobile__box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.close__menu {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  padding: 0;
  line-height: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.close__icon {
  width: 40px;
  height: 40px;
  color: currentColor;
}

@media screen and (min-width: 768px) {
  .mobile__menu,
.burger__menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
  .contact__list {
    display: none;
  }
  .nav__container {
    display: flex;
    align-items: center;
  }
  .burger__menu {
    display: block;
    margin-left: auto;
    top: 10px;
    right: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    cursor: pointer;
  }
}
.burger__icon {
  width: 40px;
  height: 40px;
  color: currentColor;
}

.mobile__menu {
  position: fixed;
  flex-direction: column;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--team-text--background);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .mobile__list {
    font-family: "Roboto";
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mobile__list .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .link.current {
    color: var(--accent-color);
  }
  .mobile-contact__list {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    margin-top: auto;
    margin-bottom: 64px;
    color: var(--accent-color);
  }
  .mobile__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-contact__link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .mobile__socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 460px) {
  .mobile__list {
    font-size: 8.9vw;
  }
  .mobile-contact__list {
    font-size: 7.4vw;
  }
  .mobile-contact__link {
    font-size: 5.22vw;
  }
  .mobile__socials {
    font-size: 3.9vw;
    padding-bottom: 10px;
  }
  .mobile__item {
    padding: 10px;
  }
}
.button {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid transparent;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  text-align: center;
  box-sizing: border-box;
}

.hero__primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__primary:hover, .hero__primary:focus {
  background-color: var(--buttun);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  padding: 10px 52px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  color: var(--team-text--background);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal__button:hover, .modal__button:focus {
  background: var(--buttun);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 320px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--outline--background-color);
  }
  .hero__title {
    color: var(--primary-bg-color);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}
.overlay {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid var(--outline--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/mobile/header-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/mobile/header-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/tablet/header-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/tablet/header-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/desktop/work.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(".././images/desktop/work@2x.jpg");
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 100px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 609px;
    overflow: scroll;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal__close {
    position: absolute;
    display: flex;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--studio);
    background: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__close:hover, .modal__close:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    outline: none;
  }
  .modal__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: 90%;
  }
}
@media screen and (min-width: 320px) {
  .modal-form {
    margin: 0;
    padding: 0;
  }
  .alert {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }
  .modal-form__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-form__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    margin-bottom: 4px;
  }
  .modal-form__input {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    color: var(--primari-text-color);
    width: 100%;
    height: 40px;
    padding: 12px 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form__input:hover, .modal-form__input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: var(--primari-text-color);
  }
  .modal-form__box {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
  }
  .modal-form__icon {
    position: absolute;
    fill: currentColor;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form__input:hover + .modal-form__icon, .modal-form__input:focus + .modal-form__icon {
    color: var(--accent-color);
  }
  .modal-form__comment {
    resize: none;
    height: 120px;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1428571429;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .checkbox__label {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
    align-items: center;
    color: var(--title-text-color);
  }
  .checkbox__input {
    position: absolute;
    appearance: none;
  }
  .checkbox__use {
    display: none;
  }
  .checkbox__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primari-text-color);
    margin-right: 7px;
    border-radius: 2px;
  }
  .checkbox__input:checked + .checkbox__svg {
    background: var(--accent-color);
    border: none;
  }
  .checkbox__input:checked + .checkbox__svg .checkbox__use {
    display: block;
  }
  .checkbox__link {
    text-decoration-line: underline;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .alert {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
  }
  .modal-form__input {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1666666667;
  }
  .modal-form__comment {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1428571429;
  }
  .checkbox__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}
@media screen and (min-width: 320px) {
  .feature__list {
    display: block;
  }
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .feature__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  .feature__text {
    color: var(--title-text-color);
    line-height: 1.7;
  }
  .background {
    display: inline-flex;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: var(--background);
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-position: center;
  }
  .background__icon {
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
  }
  .feature__item {
    width: calc((100% - 30px) / 2);
  }
  .feature__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .feature__item:not(:last-child):nth-child(2n) {
    margin-right: 0;
  }
  .feature__item:not(:last-child):nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .feature__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
  }
  .feature__item {
    width: calc((100% - 90px) / 4);
  }
  .feature__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .feature__title {
    text-align: start;
  }
}
@media screen and (max-width: 1199px) {
  .section__sidebar {
    display: none;
  }
  .section__title {
    color: var(--primari-text-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1785714286;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .section__sidebar {
    padding-top: 0;
  }
  .section__title {
    color: var(--primari-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    text-align: center;
    margin-bottom: 50px;
  }
  .image__list {
    display: flex;
  }
  .image__item {
    max-width: 1200px;
    height: auto;
  }
  .image__item:not(:last-child) {
    margin-right: 30px;
  }
  .inner {
    position: relative;
    width: 100%;
  }
  .inner__text {
    font-weight: 700;
    line-height: 1.14;
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--team-text--background);
    background: rgba(47, 48, 58, 0.8);
  }
}
@media screen and (min-width: 320px) {
  .team {
    background-color: var(--background);
  }
  .team__list {
    display: block;
  }
  .team__item {
    width: 100%;
    background: var(--team-text--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    margin-bottom: 10px;
  }
  .team__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    color: var(--title-text-color);
    margin-bottom: 16px;
  }
  .aside {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:not(:last-child):nth-child(2n) {
    margin-right: 0;
  }
  .team__item:not(:last-child):nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
  .aside {
    padding: 30px 2px;
  }
  .team__item {
    width: 100%;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}
.socials__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 30px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--link-f-in-twit);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: var(--team-text--background);
  background-color: var(--accent-color);
}

.socials__svg {
  fill: currentColor;
}

@media screen and (min-width: 320px) {
  .logo__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .logo__item {
    display: block;
    width: calc((100% - 30px) / 2);
  }
  .logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    border: 1px solid var(--link-f-in-twit);
    border-radius: 4px;
    color: var(--link-f-in-twit);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__link:hover, .logo__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  .logo__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .logo__list {
    display: flex;
  }
  .logo__item {
    width: calc((100% - 150px) / 6);
  }
}
@media screen and (min-width: 320px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--heder-footer);
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-container__box {
    display: flex;
    flex-direction: column;
  }
  .footer-nav {
    font-style: normal;
    width: 231px;
  }
  .footer__nav {
    color: var(--primary-bg-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__nav:hover, .footer__nav:focus {
    color: var(--accent-color);
  }
  .footer__list {
    margin-top: 20px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__link {
    color: var(--contact);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__link:hover, .footer__link:focus {
    color: var(--accent-color);
  }
  .footer .list {
    line-height: 1.7;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container__box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: start;
  }
  .footer-container__box {
    display: flex;
    flex-direction: row;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer__studio {
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 70px;
  }
}
@media screen and (min-width: 320px) {
  .footer__socials {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-socials__list {
    display: flex;
  }
  .footer__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-bg-color);
  }
  .footer-socials__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-bg-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-socials__link:hover, .footer-socials__link:focus {
    background-color: var(--accent-color);
  }
  .footer-socials__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__socials {
    margin-top: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-right: auto;
    margin-top: 0;
    align-items: normal;
  }
}
@media screen and (max-width: 1199px) {
  .footer-search {
    margin-top: 60px;
    width: 100%;
  }
  .button-mail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 320px) {
  .footer-mail__input {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background: var(--heder-footer);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 0;
    padding-left: 16px;
  }
  .button-mail {
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    color: var(--primary-bg-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
  .button-mail__icon {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-search {
    margin-top: 0;
    margin-left: auto;
  }
  .footer__mail {
    display: flex;
    align-items: center;
  }
  .footer-mail__input {
    width: 358px;
  }
  .button-mail {
    margin-left: 12px;
  }
}
@media screen and (min-width: 320px) {
  .button__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 8px;
    row-gap: 15px;
    margin-bottom: 40px;
  }
  .secodary {
    color: var(--primari-text-color);
    background-color: var(--background);
    padding: 6px 22px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .secodary:hover, .secodary:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 768px) {
  .button__list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button__list {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 320px) {
  .portfolio {
    padding: 60px 0;
  }
  .grid {
    display: block;
  }
}
@media screen and (min-width: 320px) and (min-width: 320px) and (max-width: 767px) {
  .grid__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) {
  .grid__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--primari-text-color);
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .grid__link:hover, .grid__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 320px) {
  .portfolio__thumb {
    position: relative;
    overflow: hidden;
  }
}
@media screen and (min-width: 320px) {
  .portfolio-overlay {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 320px) {
  .grid__link:hover .portfolio-overlay, .grid__link:focus .portfolio-overlay {
    transform: translateY(0);
  }
}
@media screen and (min-width: 320px) {
  .portfolio-overlay__text {
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    color: var(--team-text--background);
  }
}
@media screen and (min-width: 320px) {
  .portfolio__sidebar {
    flex-grow: 1;
    padding: 20px 24px;
    border-right: 1px solid var(--border--icon);
    border-left: 1px solid var(--border--icon);
    border-bottom: 1px solid var(--border--icon);
  }
}
@media screen and (min-width: 320px) {
  .portfolio__subject {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 320px) {
  .portfolio__text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.9;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .grid__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid__item {
    width: calc((100% - 60px) / 3);
  }
}/*# sourceMappingURL=main.css.map */