@media screen and (max-width: 1199px) {
  .footer-search {
    margin-top: 60px;
    width: 100%;
  }
  .button-mail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 320px) {
  .footer-mail__input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    width: 100%;
    max-width: 450px;

    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background: var(--heder-footer);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    padding: 15px 0;
    padding-left: 16px;
  }

  .button-mail {
    font-family: 'Roboto';
    font-style: normal;
    @include font(16px, 700, 30px);

    width: 200px;
    cursor: pointer;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 28px;

    color: var(--primary-bg-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: none;
  }
  .button-mail__icon {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-search {
    margin-top: 0;
    margin-left: auto;
  }

  .footer__mail {
    display: flex;
    align-items: center;
  }
  .footer-mail__input {
    width: 358px;
  }
  .button-mail {
    margin-left: 12px;
  }
}
