@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
  .contact__list {
    display: none;
  }

  .nav__container {
    display: flex;
    align-items: center;
  }
  .burger__menu {
    display: block;

    margin-left: auto;
    top: 10px;
    right: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    cursor: pointer;
    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.burger__icon {
  width: 40px;
  height: 40px;
  color: currentColor;
}

.mobile__menu {
  position: fixed;
  flex-direction: column;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: var(--team-text--background);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  height: 100%;
}
