.mobile__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;

  width: 100%;
  height: 100%;
}
.mobile__box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.close__menu {
  position: absolute;
  display: block;

  top: 10px;
  right: 15px;
  padding: 0;
  line-height: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.close__icon {
  width: 40px;
  height: 40px;
  color: currentColor;
}

@media screen and (min-width: 768px) {
  .mobile__menu,
  .burger__menu {
    display: none;
  }
}
