@mixin font($fs: 14px, $fw: 400px, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh / $fs;
}

// $baseFontSize: 14px;
// $mobileWidth: 480px;

// html {
//   font-size: $baseFontSize;
//   @media screen and (max-width: ($mobileWidth - 1px)) {
//     font-size: calc($baseFontSize * (100vw / $mobileWidth));
//   }
// }
