*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 100%;
}
h1,
h2,
h3,
p {
  margin: 0;
}
address {
  font-style: normal;
}
ul {
  margin: 0;

  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
