:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --team-text--background: #ffffff;
  --primary-bg-color: #ffffff;
  --studio: #000000;
  --background: #f5f4fa;
  --contact: rgba(255, 255, 255, 0.6);
  --heder-footer: #2f303a;
  --border--headr: #ececec;
  --buttun: #188ce8;
  --border--icon: #eeeeee;
  --link-f-in-twit: #afb1b8;
  --outline--background-color: #c4c4c4;
}
