@media screen and (min-width: 320px) {
  .logo__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .logo__item {
    display: block;
    width: calc((100% - 30px) / 2);
  }

  .logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    border: 1px solid var(--link-f-in-twit);
    border-radius: 4px;
    color: var(--link-f-in-twit);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
  }

  .logo__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .logo__list {
    display: flex;
  }

  .logo__item {
    width: calc((100% - 150px) / 6);
  }
}
